@import '../../styles/variables';

.repos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  &__back {
    padding: 0.8rem 1.5rem;
    background-color: $main-light;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-color;
    border-radius: $b-radius;
    font-size: 1.2rem;
    transition: $transition-time;
    &:hover {
      transform: translateX(-10px);
    }
  }
  &__back-icon {
    margin-right: 0.5rem;
    color: $main-v3;
    transition: $transition-time;
  }
  &__list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  &__single {
    width: 200px;
    height: 300px;
    background-color: $main-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 2.5rem;
    border-radius: $b-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  }
  &__title {
    color: $main-color;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }
  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    & * {
      margin: 0.3rem 0rem;
      color: $main-v3;
    }
  }
  &__link {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: $main-color;
    color: $main-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $b-radius;
    transition: $transition-time;
    &:hover {
      transform: translateX(5px);
      .repos__link-icon {
        color: $main-light;
      }
    }
  }
  &__link-icon {
    margin-left: 0.5rem;
    transform: $transition-time;
    color: $main-v3;
  }
}
